version: 2
updates:
    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'weekly'
      open-pull-requests-limit: 10
      groups:
          dev-dependencies:
              patterns:
                  - '*'
              exclude-patterns:
                  - 'smartcard'
                  - 'iso7816'
                  - 'tlv'
